{% extends 'base.html' %}

{% block contents %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center">
                <h4>✅ Password Reset Complete</h4>
                <p>Your password has been set. You may now <a href="{% url 'login' %}">log in</a>.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Go to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}